body{
    display:grid;
    margin: 0;
    /* overflow: hidden; */
    background-color: #ecc57b;
   
}

.no-scroll {
    overflow: hidden;
}

#hero{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-image: url(/Projekt-1/images/Hobbiton.png);
    text-align: center;
    
}


#back-button{
    position: fixed;
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    background-color: #704C33;
    align-content: center;
    text-align: center;
    margin-left:93%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none;
}

.back-button.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.Title{
    margin-top: 20vh;
    color: #704C33;
    font-size: 120px;
    margin-block-end: 0;
}

.quote{
    color: #3a2a1e;
    font-style: italic;
    font-size: 30px;
}

.button{
    width:40vh;
    height:10vh;
    background-color: #c7814bb9;
    color: #704C33;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}


.button:hover{
  background-color: #3a2a1e;
  cursor: pointer;
  border-radius: 10%;
}

#book{
    color:  #3a2a1e;
}

.book-content{
    display: flex;
    flex-direction: row;
}

.subtitle{
    font-size: 40px;
    margin-left: 15vh;
     color:  #3a2a1e;
}


.text{
    margin-left: 15vh;
    font-size: 25px;
}

.ring{
    height: 20vh;
    width: 30vh;
}

#heroes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    margin: 5%;
}

.subtitle-center{
    font-size: 40px;
    
     color:  #3a2a1e;
}

.gallery{
    width: 100vh;
    height:125vh;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px;  
    padding-bottom: 30px;
    
}

.page{
    width: 100%; 
    max-width: 300px;
    height: auto;
    background-color: #704C33;
    border-radius: 10%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    justify-self: center;
}

.page-image{
    width: 100%;
    height: 60%;
   
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.page-title{
    margin: 0;
    margin-top: 5%;
}


@media (max-width: 768px) {
    
    .gallery {
        grid-template-columns: 1fr; 
        gap: 30px; 
        height: 200vh;
    }
    
    .page {
        
        width: 40%; 
        max-width: none; 
    }
    
    
    .subtitle-center {
        font-size: 30px;
    }

    .back-button{
        margin-left: 85%;
    }
}