.table{
    border-collapse: collapse;

}

td{
    border: 1px solid black;
    width: 10%;
    height: 5%;
    text-align: center;
}

.container{
    display: grid;
    grid-template-areas: 
    'a b'
    'c d'
    '. e';
}

.kwadrat{
    width:100px;
    height: 100px;
    background-color: aqua;
    margin:10px;
    grid-area: kwadrat;
}

.kwadrat img{
    width: 100%;
    height:100%;
    object-fit: cover;
}


.kwadrat:nth-child(1) { grid-area: a; }
.kwadrat:nth-child(2) { grid-area: b; }
.kwadrat:nth-child(3) { grid-area: c; }
.kwadrat:nth-child(4) { grid-area: d; }
.kwadrat:nth-child(5) { grid-area: e; }